@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Sistema de Gestión de Citas Médicas</h1>
    <p>Más información <a href="https://learn.microsoft.com/aspnet/core">Potenciado por ASP.NET Core AOSolutions</a>.</p>
</div>
