@page
@model SisGestionCitasMedicas.Models.Doctor
@{
    ViewData["Title"] = "Create";
}
<form id="formCreate" asp-action="Create" method="post">
    <div class="modal-header">
        <h5 class="modal-title">Nuevo Doctor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>

    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-2">
            <label asp-for="Nombre" class="form-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label asp-for="Apellido" class="form-label"></label>
            <input asp-for="Apellido" class="form-control" />
            <span asp-validation-for="Apellido" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label asp-for="Especialidad" class="form-label"></label>
            <input asp-for="Especialidad" class="form-control" />
            <span asp-validation-for="Especialidad" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label asp-for="Telefono" class="form-label"></label>
            <input asp-for="Telefono" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}